@using E_commerce_23TH0024.Models.Users
@model NhanVien

@{
    ViewBag.Title = "Xóa thông tin nhân viên";
}

<h4 class="title">Xóa thông tin nhân viên</h4>

<h6 class="alert-danger">Bạn có chắc chắn muốn xóa thông tin nhân viên này?</h6>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Họ tên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayName("Tên đăng nhập")
        </dt>

        <dd>
            @Model.AspNetUser?.UserName ?? "Không xác định";
        </dd>

    </dl>

    <partial name="_FormDelete" />
</div>
