@using E_commerce_23TH0024.Models.Users
@model NhanVien

@{
    ViewBag.Title = "Thông tin nhân viên";
}

<div>
    <h4 class="title">Thông tin nhân viên</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Họ tên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayName("Tên đăng nhập")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new {@class = "btn btn-edit"}) |
    @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn btn-list"})
</p>
