@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<CustomerType>

@{
    ViewBag.Title = "Loại khách hàng";
    int i = 1;
}

<h4 class="title">@ViewBag.Title</h4>

<p>
    @Html.Partial("_HeadActions")
</p>
@Html.Partial("_AlertMessages")

    <table id="grid">
        <thead>
            <tr class="grid-header">
                <th>STT</th>
                <th>
                    @Html.DisplayName("Tên loại khách hàng")
                </th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerTypeName)
                    </td>
                    <td>
                        @Html.Partial("_TableActions", item.Id)
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>


