@using System;
@using System.Globalization;
@using E_commerce_23TH0024.Models;
@using E_commerce_23TH0024.Models.Ecommerce;

@model List<E_commerce_23TH0024.Models.SanPhamViewModels>
@{
    Layout = null;
    IEnumerable<ProductAttribute> AttributeList = (IEnumerable<ProductAttribute>)ViewBag.Attribute;
}
<div class="row">
    <div class="col-md-3">
        <div class="form-search">
            <div class="title"><span>Tìm kiếm</span><label><i class="fas fa-chevron-up"></i></label></div>
            @using (Html.BeginForm("TimKiemNC1", "SanPhams_23TH0024", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <h6 class="sub-title">Giá</h6>
                    <label class="d-flex">
                        Từ <input type="number" name="DonGiaFrom" value="@ViewBag.DonGiaFrom" class="form-control" />
                        Đến <input type="number" name="DonGiaTo" value="@ViewBag.DonGiaTo" class="form-control" />
                    </label>
                </div>
                if (AttributeList != null && AttributeList.Count() > 0)
                {
                    foreach (var attr in AttributeList)
                    {
                        if (attr.AttributeValues != null && attr.AttributeValues.Count() > 0)
                        {
                            <div class="form-group @attr.Id">
                                <h6>@attr.AttributeName</h6>
                                @foreach (var item in attr.AttributeValues)
                                {
                                    if (item.IdProductAttribute == "color")
                                    {
                                        <input type="checkbox" id="@item.Value" value="@item.Id" name="Variant">
                                        <label for="@item.Value" style="background:@item.Value"></label>
                                    }
                                    else
                                    {
                                        <label class="@item.Value"><input type="checkbox" value="@item.Id" name="Variant" /><span>@item.Value</span></label>
                                    }
                                }
                            </div>
                        }
                    }
                }
                <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-default bg-success" />
                <input type="button" name="Nhapmoi" value="Nhập mới" class="btn btn-default bg-secondary" onclick="location.href='@Url.Action("TimKiemNC1", "SanPhams_23TH0024")'" />
            }
        </div>
    </div>
    <div class="col-md-9">
        <nav class="navbar toolbar">
            <ul>
                @*<li>
                    <select id="sort-products" onchange="sortProducts()">
                        <option value="name">Sắp xếp theo sản phẩm mới nhất</option>
                        <option value="price">Sắp xếp theo giá tăng</option>
                        <option value="price">Sắp xếp theo giá giảm</option>>
                    </select>
                </li>*@
                <li><button onclick="changeView('grid')" id="grid-view-btn"><i class="fas fa-th"></i></button></li>
                <li><button onclick="changeView('list')" id="list-view-btn"><i class="fas fa-list"></i></button></li>
            </ul>
        </nav>
        <div id="product-grid-view">
            <div class="row d-flex flex-wrap">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-6">
                        <div class="product">
                            <a href='/@item.Url'>
                                <img src="~/Uploads/@item.Anh" alt="@item.TenSP" loading="lazy" />
                                @if (item.Discount != null)
                                {
                                    <div class="discount">
                                        @if (item.Discount.DiscountAmount > 0)
                                        {
                                            <span>-@Helper.money(item.Discount.DiscountAmount)</span>
                                        }
                                        @if (item.Discount.DiscountPercent > 0)
                                        {
                                            <span>-@item.Discount.DiscountPercent%</span>
                                        }
                                    </div>
                                }
                            </a>
                            <div class="item">
                                <div class="name">@item.TenSP</div>
                                <div class="wrap d-flex justify-content-between">
                                    @* <div class="info d-none d-sm-block">
                                        <p class="cate">@item.LoaiSanPham.TenLSP</p>
                                    </div> *@
                                    @if (item.Discount != null)
                                    {
                                        <div class="">
                                            <span class="old-price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.DonGia)</span>
                                            <p class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.FinalPrice)</p>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.DonGia)</div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
        <div id="product-list-view" style="display:none;">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="product-single">
                        <div class="row">
                            <div class="col-md-4 col-4">
                                <a href='/@item.Url'>
                                    <img src="~/Uploads/@item.Anh" alt="@item.TenSP" loading="lazy" />
                                </a>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="item">
                                    <div class="name">@item.TenSP</div>
                                    <div class="wrap d-flex justify-content-between mb-2 mt-2">
                                        @* <div class="info d-none d-sm-block">
                                            <p class="cate">@item.LoaiSanPham.TenLSP</p>
                                        </div> *@
                                        <div class="">
                                            @if (item.Discount != null)
                                            {
                                                <div class="old-price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.DonGia)</div>
                                                <p class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.FinalPrice)</p>
                                            }
                                            else
                                            {
                                                <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.FinalPrice)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-buttons">
                                        @using (Html.BeginForm("AddToCart", "Cart_23TH0024", FormMethod.Post, new { id = "ajaxForm", @class = "ajaxForm" }))
                                        {
                                            @*@Html.AntiForgeryToken()*@
                                            @Html.Hidden("productId", item.Id)
                                            @Html.Hidden("quantity", 1)
                                            <input class="btn addToCart" name="addToCart" type="submit" value="Thêm vào giỏ hàng" />
                                            <input class="btn buyNow" name="buyNow" type="submit" value="Mua ngay" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    function changeView(viewType) {
        var gridView = document.getElementById("product-grid-view");
        var listView = document.getElementById("product-list-view");
        if (viewType === 'list') {
            gridView.style.display = 'none';
            listView.style.display = 'block';
        } else {
            gridView.style.display = 'block';
            listView.style.display = 'none';
        }
    }
</script>