
@{
    ViewBag.Title = "ImportExcel tùy chỉnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Import Data from Excel</h4>

@using (Html.BeginForm("ImportExcel_Custom", "FileTransfer_23TH0024", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row mt-2">
        <div class="col-md-2">
            <label for="file">Chọn file:</label>
        </div>
        <div class="col-md-10">
            <input type="file" id="file" name="file" />
            <p>@Html.ValidationMessage("file", "", new { @class = "text-danger" })</p>
        </div>
    </div>
    <div class="form-group row mt-2">
        <div class="col-md-2">
            <label>Chọn danh mục</label>
        </div>
        <div class="col-md-10">
            @Html.DropDownList("MaLSP", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row mt-2">
        <div class="col-md-2">
            <label>Tên sản phẩm:</label>
        </div>
        <div class="col-md-10">
            <input type="text" name="TenSP" value="@ViewBag.TenSP" class="form-control" />
        </div>
    </div>
    <div class="form-group row mt-2">
        <div class="col-md-2">
            <label>Đơn giá:</label>
        </div>
        <div class="col-md-10">
            <input type="text" name="DonGia"  value="@ViewBag.DonGia"  class="form-control" />
        </div>
    </div>
    <div class="form-group row mt-2">
        <div class="col-md-2">
            <label>Đơn vị tính:</label>
        </div>
        <div class="col-md-10">
            <input type="text" name="DVT"  value="@ViewBag.DVT"  class="form-control" />
        </div>
    </div>
    <br />
    <div class="form-group row mt-2">
        <div class="col-md-2">
           
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn  btn-default btn-save">Import</button>
        </div>
    </div>
    
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}


