@model IEnumerable<E_commerce_23TH0024.Models.KhachHangViewModel>

@{
    ViewBag.Title = "Quản lý khách hàng";
}
<style>
    #grid_filter{
        display: none;
    }
</style>
<h4 class="title">Quản lý khách hàng</h4>

<div class="filter-container">
    <div class="filter-group">
        <label for="search-ten">Họ tên:</label>
        <input type="text" id="search-ten" class="form-control">
    </div>
    <div class="filter-group">
        <label for="search-ten">Tên đăng nhập:</label>
        <input type="text" id="search-email" class="form-control">
    </div>
    <div class="filter-group">
        <label for="search-loai">Số điện thoại:</label>
        <input type="text" id="search-phone" class="form-control">
    </div>
</div>
<table id="grid">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Tên đăng nhập</th>
            <th>Loại khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Count() > 0){
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.HoTen</td>
                    <td>@item.AspNetUser?.UserName</td>
                    <td>@item.CustomerType?.CustomerTypeName</td>
                    <td>@item.SoDienThoai</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Latitude</td>
                    <td>@item.Longitude</td>
                    <td>
                        @Html.Partial("_TableActions", item.Id)
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>



<script>
    $(document).ready(function () {
        var table = $('#grid').DataTable();
        $('#search-ten').on('keyup change', function () {
            table.column(1).search(this.value).draw();
        });
        $('#search-email').on('keyup change', function () {
            table.column(2).search(this.value).draw();
        });
        $('#search-phone').on('keyup change', function () {
            table.column(4).search(this.value).draw();
        });
    });
</script>