@using E_commerce_23TH0024.Models.Ecommerce
@model ProductVariant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductVariant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Model.SanPham?.TenSP ?? ""
        </dt>

        <dd>
            @Model.SanPham?.TenSP ?? ""
        </dd>

    </dl>
</div>
@* <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p> *@
