@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<ProductVariant>

@{
    ViewBag.Title = "Biến thể sản phẩm";
}

<h4 class="title">Biến thể sản phẩm</h4>

<p>
    <partial name="_HeadActions" />
    <partial name="_AlertMessages" />
</p>
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Sản phẩm")
            </th>
            <th>
                @Html.DisplayName("Biến thể")
            </th>
            <th>
                @Html.DisplayName("Số lượng")
            </th>
            <th>
                @Html.DisplayName("Giá")
            </th>

            <th>Chức năng</th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @item.SanPham?.TenSP ?? ""
        </td>
        <td>
            @foreach (var attr in item.ProductVariantAttributes)
                {
                <b>@(attr.ProductAttribute?.AttributeName ?? ""): </b>
                <span>@(attr.AttributeValue?.Value ?? "")</span>
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
                <partial name="_TableActions" model=item.Id />
        </td>
    </tr>
}

</table>
