@using System;
@using System.Globalization;
@using E_commerce_23TH0024.Models;
@using E_commerce_23TH0024.Models.Ecommerce;

@model E_commerce_23TH0024.Models.SanPhamViewModels

@{
    ViewBag.Title = Model.TenSP;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <div class="container">
            <h1>@Model.TenSP</h1>
        </div>
    </div>
</div>
<div class="detail container">
    <div class="breadcrumb mt-2">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li>/ <a href="/@Helper.RemoveVietnameseAccent(Model.LoaiSanPham.TenLSP)-@Model.IdLoaiSanPham">@Model.LoaiSanPham.TenLSP</a></li>
            <li>/ <span>@Model.TenSP</span></li>
        </ul>
    </div>
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Uploads/@Model.Anh" />
            </div>
            <div class="col-md-8">
                <h4>Tên sản phẩm: @Html.DisplayFor(model => model.TenSP)</h4>
                <div>
                    Đơn giá:
                    <div>
                        @if (Model.Discount != null)
                        {
                            <span class="old-price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", Model.DonGia)</span>
                            <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", Model.FinalPrice)</span>
                            if (!string.IsNullOrEmpty(Model.Discount.Name))
                            {
                                <p class="mt-2">@Model.Discount.Name</p>
                            }
                            if (!string.IsNullOrEmpty(Model.Discount.Description))
                            {
                                <p style="color: #cf5a14;" class="mb-2">@Model.Discount.Description</p>
                            }
                        }
                        else
                        {
                            <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", Model.DonGia)</span>
                        }
                    </div>
                </div>
                <p>Đơn vị tính: @Html.DisplayFor(model => model.DVT) </p>
                <p>Loại sản phẩm: @Html.DisplayFor(model => model.LoaiSanPham.TenLSP)</p>
                <div class="attr">
                    @if (Model.ProductVariants != null && Model.ProductVariants.Count() > 0)
                    {
                        List<ProductAttribute> lstAttr = Model.ProductVariants.SelectMany(x => x.ProductVariantAttributes).Select(a => a.ProductAttribute).Distinct().ToList();
                        foreach (var item in lstAttr)
                        {
                            var lstValue = item.AttributeValues;
                            <div class="@item.Id">
                                <div style="float:left;">@item.AttributeName:</div>
                                @foreach (var v in lstValue)
                                {
                                    if (item.Id == "color")
                                    {
                                        <input type="checkbox" id="@v.Value" value="@v.Id" name="Variant">
                                        <label for="@v.Value" style="background:@v.Value"></label>
                                    }
                                    else
                                    {
                                        <label><input type="radio" value="@v.Id" name="Variant" />@v.Value</label>
                                    }
                                }
                            </div>
                            <div class="clearfix"></div>
                        }
                    }
                </div>
                <div class="action mt-3">
                    @using (Html.BeginForm("AddToCart", "Cart_23TH0024", FormMethod.Post, new { id = "ajaxForm", @class = "ajaxForm" }))
                    {
                        @*@Html.AntiForgeryToken()*@
                        @Html.Hidden("productId", Model.Id)
                        @Html.Hidden("quantity", 1)
                        <input class="btn addToCart" name="addToCart" type="submit" value="Thêm vào giỏ hàng" />
                        <input class="btn buyNow" name="buyNow" type="submit" value="Mua ngay" />
                    }


                    <div id="result"></div>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.MoTa))
        {
            <dt class="mt-3">Mô tả:</dt>
            <dd>
                @Html.Raw(Model.MoTa)
            </dd>
        }
    </dl>
</div>

