@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<DeliveryMethod>

@{
    ViewBag.Title = "Phương thức giao hàng";
}

<h4 class="title">Phương thức giao hàng</h4>

<p>
   <partial name="_HeadActions" />
</p>
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên phương thức")
            </th>
            <th>
                @Html.DisplayName("Mô tả")
            </th>
            <th>
                @Html.DisplayName("Cost")
            </th>
            <th>
                @Html.DisplayName("Thời gian giao hàng")
            </th>
            <th>
                @Html.DisplayName("Trạng thái")
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string status = item.ActiveStatus == true ? "Hoạt động" : "Vô hiệu hóa";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MethodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryTime)
                </td>
                <td>
                    @status
                </td>
                <td>
                    <partial name="_TableActions" model=item.Id />
                </td>
            </tr>
        }

    </tbody>

</table>
