@model E_commerce_23TH0024.Models.Location.District

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if(Model != null){
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DistrictName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DistrictName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City.CityName)
            </dt>

            <dd>
                @(Model.City?.CityName ?? "Không xác định")
            </dd>

        </dl>
    </div>
    @* <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p> *@
}

