@model IEnumerable<E_commerce_23TH0024.Models.Location.District>

@{
    ViewBag.Title = "Danh sách quận/ huyện";
}

<h4 class="title">@ViewBag.Title</h4>

<p>
    @Html.ActionLink(
            linkText: "Thêm mới",
            actionName: "Create",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-default btn-primary" }
            )
    @Html.ActionLink(
            linkText: "ImportExcel",
            actionName: "ImportExcel",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-importexcel" }
            )
    @Html.ActionLink(
            linkText: "ExportExcel",
            actionName: "ExportExcel",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-exportexcel" }
            )
</p>
<table id="grid">
    <thead>
        <tr>
            <th> @Html.DisplayName("Id")</th>
            <th>
                @Html.DisplayName("Quận huyện")
            </th>
            <th>
                @Html.DisplayName("Thành phố")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.CityName)
                </td>
                <td>
                   @Html.Partial("_TableActions", item.Id)
            </tr>
        }

    </tbody>
    
</table>
