@using E_commerce_23TH0024.Lib
@using E_commerce_23TH0024.Lib.Enums
@using E_commerce_23TH0024.Models.Ecommerce
@using System.ComponentModel.DataAnnotations
@model IEnumerable<DonHang>

@{
    ViewBag.Title = "Quản lý đơn hàng";
}
<style>
    #grid_filter{display:none;}
</style>
<h4 class="title">Quản lý đơn hàng</h4>

<div class="filter-container">
    <div class="filter-group">
        <label for="search-ten">Số điện thoại:</label>
        <input type="text" id="search-phone" class="form-control">
    </div>
    <div class="filter-group">
        <label for="search-loai">Tình trạng:</label>
        <input type="text" id="search-status" class="form-control">
    </div>
</div>
<partial name="_AlertMessages" />
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Ngày đặt hàng")
            </th>
            <th>
                @Html.DisplayName("Ngày giao hàng")
            </th>
            <th>
                @Html.DisplayName("Tình trạng")
            </th>
            <th>
                @Html.DisplayName("Khách hàng")
            </th>
            <th>Chức năng</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDatHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiaoHang)
                </td>
                <td>
                    @EnumExtensions.GetOrderStatusName(item.TinhTrang)
                </td>
                <td>
                    @(item.KhachHang?.SoDienThoai ?? "Không xác định")
                </td>
                <td>
                    <partial name="_TableActions" model=item.Id />
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $('#grid').DataTable();
        $('#search-phone').on('keyup change', function () {
            table.column(3).search(this.value).draw();
        });
        $('#search-status').on('keyup change', function () {
            table.column(2).search(this.value).draw();
        });
    });
</script>