@using E_commerce_23TH0024.Models.Ecommerce
@model LoaiSanPham

@{
    ViewBag.Title = "Cập nhật loại sản phẩm";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="title">Cập nhật loại sản phẩm</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_Fields", Model)

    @Html.Partial("_FormActions")
</div>
}

