@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<LoaiSanPham>

@{
    ViewData["Title"] = "Danh sách loại sản phẩm";
}

<h3 class="title">@ViewData["Title"]</h3>

@Html.Partial("_HeadActions")
@Html.Partial("_AlertMessages")
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên loại sản phẩm")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLSP)
            </td>
            <td>
                    @Html.Partial("_TableActions", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
