@using E_commerce_23TH0024.Models.Ecommerce
@model ShippingRate

@{
    ViewBag.Title = "Cập nhật bảng giá";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="title">Cập nhật bảng giá</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_Fields", Model)
    @Html.Partial("_FormActions")
</div>
}

<script>
$(document).ready(function() {
        $('#IdCity').select2();
});
</script>