@using E_commerce_23TH0024.Models
@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<ShippingRate>

@{
    ViewBag.Title = "Bảng giá vận chuyển";
}

<h4 class="title">@ViewBag.Title</h4>

<p>
    <partial name="_HeadActions" />
</p>

    <table id="grid">
        <thead>
            <tr class="grid-header">
                <th>
                    @Html.DisplayName("Từ (km)")
                </th>
                <th>
                    @Html.DisplayName("Đến (km)")
                </th>
                <th>
                    @Html.DisplayName("Giá mặc định")
                </th>
                <th>
                    @Html.DisplayName("Giá/ km")
                </th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDistance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDistance)
                    </td>
                    <td>
                        @Helper.money(item.FixedPrice)
                    </td>
                    <td>
                        @Helper.money(item.PricePerKm)
                    </td>
                    <td>
                        <partial name="_TableActions" model=item.Id />
                    </td>
                </tr>
            }
        </tbody>
    </table>

