@model IEnumerable<E_commerce_23TH0024.Models.City>

@{
    ViewBag.Title = "Danh sách tỉnh/ thành phố";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Danh sách tỉnh/ thành phố</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create", "", new { @class = "btn btn-add" })
    @Html.ActionLink("ImportExcel", "ImportExcel", "", new { @class = "btn btn-importexcel" })
    @Html.ActionLink("ExportExcel", "ExportExcel", "", new { @class = "btn btn-exportexcel" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Tên thành phố")
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id})" class="edit-btn"><abbr title="Cập nhật"><i class="fa fa-edit"></i></abbr></a>
            <a href="@Url.Action("Details",new { id = item.Id})" class="detail-btn"><abbr title="Xem chi tiết"><i class="fa fa-eye"></i></abbr></a>
            <a href="@Url.Action("Delete", new { id = item.Id})" class="delete-btn"><abbr title="Xóa dữ liệu"><i class="fa fa-trash"></i></abbr> </a>
        </td>
    </tr>
}

</table>
