@model IEnumerable<E_commerce_23TH0024.Models.UserRolesViewModel>

@{
    ViewBag.Title = "Quản lý người dùng";
}

<h4 class="title">Quản lý người dùng</h4>

<partial name="_HeadActions" />
<partial name="_AlertMessages" />

    <table id="grid">
        <thead>
            <tr>
                <th>STT</th>
                <th>UserName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Count() > 0){
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.UserName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@string.Join(", ", item.Roles)</td>
                        <td>
                        <a href="@Url.Action("Details", new { id = item.UserId })" class="btn btn-info btn-sm">Xem</a>
                        <a href="@Url.Action("Delete", new { id = @item.UserId })" class="btn btn-danger btn-sm"><abbr title="Xóa dữ liệu">Xóa</abbr> </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


