@using E_commerce_23TH0024.Models.Ecommerce
@model DiscountRule

@{
    ViewBag.Title = "Cập nhật chương trình giảm giá";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Cập nhật chương trình giảm giá</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_Fields", Model)

    <div class="form-group row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default btn-save" />
            @Html.ActionLink("Quay lại danh sách", "Index", "", new { @class = "btn btn-list" })
        </div>
    </div>
</div>
}
<script>
    $(document).ready(function () {
        $('#ProductGroupID').select2();
        $('#CustomerTypeID').select2();
    });
</script>