@using E_commerce_23TH0024.Models
@using E_commerce_23TH0024.Models.Ecommerce
@using E_commerce_23TH0024.Models.Order
@model IEnumerable<DiscountRule>

@{
    ViewBag.Title = "Chương trình giảm giá";
}

<h4 class="title">@ViewBag.Title</h4>

<p>
    <partial name="_HeadActions" />
    <!--<a class="btn btn-delete" href="javascript:void(0);"
       onclick="if(confirm('Bạn có chắc chắn muốn xóa tất cả?')) { window.location.href='@Url.Action("DeleteAll")'; }">Xóa tất cả</a>-->
</p>
<partial name="_AlertMessages" />
<div id="gridContent">
    <table id="grid">
        <thead>
            <tr class="grid-header">
                <th>
                    @Html.DisplayName("Tên chương trình")
                </th>
                <th>
                    @Html.DisplayName("Loại sản phẩm")
                </th>
                <th>
                    @Html.DisplayName("Số tiền giảm")
                </th>
                <th>
                    @Html.DisplayName("Phần trăm")
                </th>
                <th>
                    @Html.DisplayName("Ngày bắt đầu")
                </th>
                <th>
                    @Html.DisplayName("Ngày kết thúc")
                </th>
                <th>Chức năng</th>
            </tr>
            </thead>
        <tbody>
            @if(Model != null && Model.Count() > 0){
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @* @(item.LoaiSanPham?.TenLSP ?? "Không xác định") *@
                        </td>
                        <td>
                            @Helper.money(item.DiscountAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                        <td>
                            <partial name="_TableActions" model=item.Id />
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>

