@using E_commerce_23TH0024.Models
@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<DiscountRule>

@{
    ViewBag.Title = "Chương trình giảm giá";
}

<h4 class="title">@ViewBag.Title</h4>

<p>
    @Html.Partial("_HeadActions")
    <!--<a class="btn btn-delete" href="javascript:void(0);"
       onclick="if(confirm('Bạn có chắc chắn muốn xóa tất cả?')) { window.location.href='@Url.Action("DeleteAll")'; }">Xóa tất cả</a>-->
</p>
@Html.Partial("_AlertMessages")
<div id="gridContent">
    <table id="grid">
        <thead>
            <tr class="grid-header">
                <th>
                    @Html.DisplayName("Tên chương trình")
                </th>
                <th>
                    @Html.DisplayName("Loại sản phẩm")
                </th>
                <th>
                    @Html.DisplayName("Số tiền giảm")
                </th>
                <th>
                    @Html.DisplayName("Phần trăm")
                </th>
                <th>
                    @Html.DisplayName("Ngày bắt đầu")
                </th>
                <th>
                    @Html.DisplayName("Ngày kết thúc")
                </th>
                <th>Chức năng</th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLSP)
                    </td>
                    <td>
                        @Helper.money(item.DiscountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.Partial("_TableActions", item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

