@using E_commerce_23TH0024.Models.Ecommerce
@model ProductVariantAttribute

@{
    ViewBag.Title = "Xóa giá trị biến thể";
}

<h4 class="title">Xóa giá trị biến thể</h4>

<h6 class="alert-danger">Bạn muốn xóa giá trị biến thể này ?</h6>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Biến thể")
        </dt>
        <dd>
            @Model.ProductVariant?.Id ?? ""
        </dd>
        <dt>
            @Html.DisplayName("Tên thuộc tính")
        </dt>

        <dd>
            @Model.AttributeValue?.Value ?? "Không có giá trị";
        </dd>

        <dt>
            @Html.DisplayName("Giá trị thuộc tính")
        </dt>

        <dd>
            @Model.ProductAttribute?.AttributeValues ?? "Không có giá trị";
        </dd>

    </dl>

    <partial name="_FormDelete" />
</div>
