@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<ProductVariantAttribute>

@{
    ViewBag.Title = "Danh sách chi tiết biến thể";
}

<h4 class="title">Danh sách chi tiết biến thể</h4>

<p>
    <partial name="_HeadActions" />
</p>
<table id="grid">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>
                @Html.DisplayName("Biến thể")
            </th>
            <th>
                @Html.DisplayName("Thuộc tính")
            </th>


            <th>
                @Html.DisplayName("Giá trị")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductVariant?.SanPham?.TenSP ?? ""
                    </td>
                    <td>
                        @(item.ProductVariant?.Id)
                    </td>
                    <td>
                        @item.ProductAttribute?.AttributeName ?? ""
                    </td>


                    <td>
                        @(item.AttributeValue?.Value ?? "")
                    </td>
                    <td>
                        <partial name="_TableActions" model=item.Id />
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>
