@using E_commerce_23TH0024.Models.Ecommerce
@model ProductVariant

@{
    ViewBag.Title = "Xóa biến thể";
}

<h4 class="title">Xóa biến thể</h4>

@if(Model != null){
    <h5 class="alert-danger">Bạn có chắc chắn muốn xóa biến thể này?</h5>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Số lượng")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StockQuantity)
            </dd>

            <dt>
                @Html.DisplayName("Giá")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayName("Tên sản phẩm")
            </dt>

            <dd>
                @(Model.SanPham?.TenSP ?? "")
            </dd>

        </dl>
        <partial name="_FormDelete" />
    </div>
}

