@using E_commerce_23TH0024.Models.Ecommerce
@model AttributeValue

@{
    ViewBag.Title = "Xóa giá trị thuộc tính";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">@ViewBag.Title</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn xóa giá trị thuộc tính này ?</h6>
<div>
    <h4>AttributeValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAttribute.AttributeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAttribute.AttributeName)
        </dd>

    </dl>

    @Html.Partial("_FormDelete")
</div>
