@model E_commerce_23TH0024.Models.Location.Ward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if(Model != null){
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.WardName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WardName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.District.DistrictName)
            </dt>

            <dd>
                @(Model.District?.DistrictName ?? "")
            </dd>

        </dl>
    </div>
    @* <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p> *@

}
