@model IEnumerable<E_commerce_23TH0024.Models.Location.Ward>

@{
    ViewBag.Title = "Danh sách phường xã";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Danh sách phường/ xã</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create", "", new { @class = "btn btn-add" })
    @Html.ActionLink("ImportExcel", "ImportExcel", "", new { @class = "btn btn-importexcel" })
    @Html.ActionLink("ExportExcel", "ExportExcel", "", new { @class = "btn btn-exportexcel" })
    @Html.ActionLink("ImportExce tỉnh, huyện, xã", "ImportAll", "", new { @class = "btn btn-importexcel" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Thành phố")
        </th>
        <th>
            @Html.DisplayName("Quận/ huyện")
        </th>
        <th>
            @Html.DisplayName("Phường/ xã")
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.District.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
