@model IEnumerable<E_commerce_23TH0024.Models.Location.Ward>

@{
    ViewBag.Title = "Danh sách phường xã";
}

<h4 class="title">Danh sách phường/ xã</h4>

<p> 
    @Html.ActionLink(
            linkText: "Thêm mới",
            actionName: "Create",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-default btn-primary" }
            )
    @Html.ActionLink(
            linkText: "Thêm mới",
            actionName: "ImportExcel",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-importexcel" }
            )
    @Html.ActionLink(
            linkText: "ExportExcel",
            actionName: "ExportExcel",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-exportexcel" }
            )
    @Html.ActionLink(
            linkText: "ImportExce tỉnh, huyện, xã",
            actionName: "ImportAll",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-exportexcel" }
            )
 </p>
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Thành phố")
            </th>
            <th>
                @Html.DisplayName("Quận/ huyện")
            </th>
            <th>
                @Html.DisplayName("Phường/ xã")
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.District.City.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WardName)
                </td>
                <td>
                    @Html.Partial("_TableActions", item.Id)
                </td>
            </tr>
        }
    </tbody>



</table>
