@model IEnumerable<E_commerce_23TH0024.Models.Location.Ward>

@{
    ViewBag.Title = "Danh sách phường xã";
}

<h4 class="title">Danh sách phường/ xã</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create", "", new { @class = "btn btn-add" })
    @Html.ActionLink("ImportExcel", "ImportExcel", "", new { @class = "btn btn-importexcel" })
    @Html.ActionLink("ExportExcel", "ExportExcel", "", new { @class = "btn btn-exportexcel" })
    @Html.ActionLink("ImportExce tỉnh, huyện, xã", "ImportAll", "", new { @class = "btn btn-importexcel" })
</p>
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Thành phố")
            </th>
            <th>
                @Html.DisplayName("Quận/ huyện")
            </th>
            <th>
                @Html.DisplayName("Phường/ xã")
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.District.City.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WardName)
                </td>
                <td>
                    @Html.Partial("_TableActions", item.Id)
                </td>
            </tr>
        }
    </tbody>



</table>
