@using E_commerce_23TH0024.Models.SystemSetting
@model Menu
<div class="form-group">
    @Html.LabelFor(model => model.IdNhomMenu, "Nhóm Menu", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("IdNhomMenu", null, htmlAttributes: new { @class = "form-control multiselect" })
        @Html.ValidationMessageFor(model => model.IdNhomMenu, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LoaiMenu, "Loại Menu", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.LoaiMenu, (SelectList)ViewBag.LoaiMenu, "Chọn loại menu", new { @class = "form-control multiselect" })
        @Html.ValidationMessageFor(model => model.LoaiMenu, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MaLoaiMenu, "Mã Loại Menu", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("MaLoaiMenu", null, htmlAttributes: new { @class = "form-control multiselect" })
        @Html.ValidationMessageFor(model => model.MaLoaiMenu, "", new { @class = "text-danger" })
    </div>
</div>