@model IEnumerable<E_commerce_23TH0024.Models.SanPhamViewModels>

@{
    ViewBag.Title = "Sản phẩm";
}
<style>
    .d-flex {
        align-items: center;
    }

    .form-search label {
        white-space: nowrap;
        margin-right: 5px;
    }

    #grid_filter{
        display:none;
    }
</style>
<h4 class="title">Sản phẩm</h4>


<div class="filter-container">
    <div class="filter-group">
        <label for="search-ten">Tên sản phẩm:</label>
        <input type="text" id="search-ten" class="form-control">
    </div>
    <div class="filter-group">
        <label for="search-loai">Loại sản phẩm:</label>
        <input type="text" id="search-loai" class="form-control">
    </div>
    <div class="filter-group">
        <label for="search-gia">Giá:</label>
        <input type="text" id="search-gia" class="form-control">
    </div>
</div>

<div class="mb-3">
    <div class="btn-action">
        <a href="@Url.Action("Create")" class="btn btn-default btn-add">Thêm mới</a>    
        <a href="@Url.Action("ImportExcel", "FileTransfer_23TH0024")" class="btn btn-default btn-importexcel">ImportExcel</a>
        <a href="@Url.Action("ImportExcel_Custom", "FileTransfer_23TH0024")" class="btn btn-default btn-importzip">Import tùy chỉnh</a>
        <a href="@Url.Action("ExportExcel", "FileTransfer_23TH0024")" class="btn btn-default btn-exportexcel">ExportExcel</a>   
        <button class="btn btn-primary dropdown-toggle btn-delete" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Xóa
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Xóa chọn</a>
            <a class="dropdown-item" href="#">Xóa tùy chỉnh</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="if(confirm('Bạn có chắc chắn muốn xóa tất cả?')) { window.location.href='@Url.Action("DeleteAll")'; }">Xóa tất cả</a>
        </div>
    </div>
</div>

<partial name="_AlertMessages" />



<div id="gridContent">
    <table id="grid">
        <thead>
            <th>STT</th>
            <th>Hình đại diện</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Đơn vị tính</th>
            <th>Loại sản phẩm</th>
            <th>Chức năng</th>
        </thead>
        <tbody>
            @foreach (var item in Model){
                <tr>
                    <td></td>
                    <td><img src="~/Uploads/@item.Anh" class="img-fluid"/></td>
                    <td>@item.TenSP </td>
                    <td>@item.DonGia</td>
                    <td>@item.DVT</td>
                    <td>@item.LoaiSanPham?.TenLSP</td>
                    <td>
                        <partial name="_TableActions" model=item.Id />
                    </td>
                </tr>
            }
           
        </tbody>
    </table>

</div>

<script>
    document.getElementById("dropdownMenuButton").addEventListener("click", function () {
        var dropdownMenu = this.nextElementSibling;
        if (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") {
            dropdownMenu.style.display = "block";
        } else {
            dropdownMenu.style.display = "none";
        }
    });
    $(document).ready(function () {
        $('#MaLSP').select2();
    });
</script>

<script>
    $(document).ready(function () {
        var table = $('#grid').DataTable();
        $('#search-ten').on('keyup change', function () {
            table.column(2).search(this.value).draw();
        });
        $('#search-loai').on('keyup change', function () {
            table.column(5).search(this.value).draw();
        });
        $('#search-gia').on('keyup change', function () {
            table.column(3).search(this.value).draw();
        });
    });
</script>
